Introduction

Map() function applies a given function to all items in an input list (or any other iterable) and returns a map object (an iterator).

This is particularly useful for transforming data in a list comprehensively.

In [3]:
def square(number):
    return number**2


square(4)

16

In [4]:
# Calculate the square of all number in a list
numbers=[1,2,3,4,5,6]
squareNumbers=list(map(square,numbers))# We can use lambda function: map(lambda x:x**2, numbers)

In [6]:
#Lambda function with map
evenNumbers=list(map(lambda number:number%2==0, numbers))
print(evenNumbers)

[False, True, False, True, False, True]

Map multiple iterables

In [9]:
numbers1=[1,2,3]
numbers2=[4,5,6]
addedNumbers=list(map(lambda x,y: x+y, numbers1, numbers2))
print(addedNumbers)

[5, 7, 9]

Convert list of strings to integers
Use map to convert strings to integers

In [12]:
strNumbers=['1','2','3','4','5','6']
print(strNumbers)
intNumbers=list(map(int,strNumbers))
print(intNumbers)

['1', '2', '3', '4', '5', '6']
[1, 2, 3, 4, 5, 6]

In [14]:
words=["Apple", "Banana","Cherry"]
upperWords=list(map(str.upper,words))
print(upperWords)

['APPLE', 'BANANA', 'CHERRY']

In [ ]:
#Using a dictionary

def getName(person):
    return person["name"]


peopleDictionary=[
{"name":"Maria","age":18},
{"name":"Karen","age":21},
{"name":"Diana","age":22}
 ]

listPeopleName=list(map(getName,peopleDictionary))
print(listPeopleName)

['Maria', 'Karen', 'Diana']