**Reading Data from Different Sources**

In [1]:
import pandas as pd

**Json file**

In [5]:
from io import StringIO

data='{ "employee_name": "James" , "email":"james@gmail.com", "job_profile": [{"title1":"Team Lead", "title2":"Sr. Developer"}] }'
dataFrame=pd.read_json(StringIO(data))
dataFrame

,employee_name,email,job_profile
0,James,james@gmail.com,"{'title1': 'Team Lead', 'title2': 'Sr. Develop..."

In [16]:
dataFrame["email"]

0    james@gmail.com
Name: email, dtype: object

In [18]:
#Convert from DataFrame to Json

jsonFile=dataFrame.to_json()# The parameter orient by default is the index of the dataFrame
jsonFile

'{"employee_name":{"0":"James"},"email":{"0":"james@gmail.com"},"job_profile":{"0":{"title1":"Team Lead","title2":"Sr. Developer"}}}'

In [26]:
#Defining an orient value
#Orient=index
jsonFile2=dataFrame.to_json(orient="index")
jsonFile2

'{"0":{"employee_name":"James","email":"james@gmail.com","job_profile":{"title1":"Team Lead","title2":"Sr. Developer"}}}'

In [27]:
#Orient=records
jsonFile3=dataFrame.to_json(orient="records")
jsonFile3

'[{"employee_name":"James","email":"james@gmail.com","job_profile":{"title1":"Team Lead","title2":"Sr. Developer"}}]'

**Using url**

In [34]:
dataFrame2=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data", header=None)
dataFrame2.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [39]:
#Converts the dataFrame to csv file
dataFrame2.to_csv("wine.csv")

**Html file**

Installations that can be necessary:

pip install lxml

pip install html5lib

In [45]:
url="https://www.fdic.gov/bank/individual/failed/banklist.html"
dataFrame3=pd.read_html(url)
dataFrame3[0]

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund Sort ascending
0,The Santa Anna National Bank,Santa Anna,Texas,5520,Coleman County State Bank,"June 27, 2025",10549
1,Pulaski Savings Bank,Chicago,Illinois,28611,Millennium Bank,"January 17, 2025",10548
2,The First National Bank of Lindsay,Lindsay,Oklahoma,4134,First Bank & Trust Co.,"October 18, 2024",10547
3,Republic First Bank dba Republic Bank,Philadelphia,Pennsylvania,27332,"Fulton Bank, National Association","April 26, 2024",10546
4,Citizens Bank,Sac City,Iowa,8758,Iowa Trust & Savings Bank,"November 3, 2023",10545
5,Heartland Tri-State Bank,Elkhart,Kansas,25851,"Dream First Bank, N.A.","July 28, 2023",10544
6,First Republic Bank,San Francisco,California,59017,"JPMorgan Chase Bank, N.A.","May 1, 2023",10543
7,Signature Bank,New York,New York,57053,"Flagstar Bank, N.A.","March 12, 2023",10540
8,Silicon Valley Bank,Santa Clara,California,24735,First Citizens Bank & Trust Company,"March 10, 2023",10539
9,Almena State Bank,Almena,Kansas,15426,Equity Bank,"October 23, 2020",10538
10,First City Bank of Florida,Fort Walton Beach,Florida,16748,"United Fidelity Bank, fsb","October 16, 2020",10537
11,The First State Bank,Barboursville,West Virginia,14361,"MVB Bank, Inc.","April 3, 2020",10536
12,Ericson State Bank,Ericson,Nebraska,18265,Farmers and Merchants Bank,"February 14, 2020",10535
13,City National Bank of New Jersey,Newark,New Jersey,21111,Industrial Bank,"November 1, 2019",10534
14,Resolute Bank,Maumee,Ohio,58317,Buckeye State Bank,"October 25, 2019",10533
15,Louisa Community Bank,Louisa,Kentucky,58112,Kentucky Farmers Bank Corporation,"October 25, 2019",10532
16,The Enloe State Bank,Cooper,Texas,10716,"Legend Bank, N. A.","May 31, 2019",10531
17,Washington Federal Bank for Savings,Chicago,Illinois,30570,Royal Savings Bank,"December 15, 2017",10530
18,The Farmers and Merchants State Bank of Argonia,Argonia,Kansas,17719,Conway Bank,"October 13, 2017",10529
19,Fayette County Bank,Saint Elmo,Illinois,1802,"United Fidelity Bank, fsb","May 26, 2017",10528
20,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,Wisconsin,30003,First-Citizens Bank & Trust Company,"May 5, 2017",10527
21,First NBC Bank,New Orleans,Louisiana,58302,Whitney Bank,"April 28, 2017",10526
22,Proficio Bank,Cottonwood Heights,Utah,35495,Cache Valley Bank,"March 3, 2017",10525
23,Seaway Bank and Trust Company,Chicago,Illinois,19328,State Bank of Texas,"January 27, 2017",10524
24,Harvest Community Bank,Pennsville,New Jersey,34951,First-Citizens Bank & Trust Company,"January 13, 2017",10523

In [59]:
#Example 2: Mobile country code
url2="https://mcc-mnc.com/"
mobileCodeDataFrame=pd.read_html(url2, match="Country", header=0)
mobileCodeDataFrame[0].head()
#countries=set(mobileCodeDataFrame[0]["Country"])
#countries

   MCC  MNC ISO      Country  Country Code   Network
0  289   68  ge     Abkhazia           7.0  A-Mobile
1  289   88  ge     Abkhazia           7.0  A-Mobile
2  289   67  ge     Abkhazia           7.0   Aquafon
3  412    1  af  Afghanistan          93.0      AWCC
4  412   50  af  Afghanistan          93.0  Etisalat

In [63]:
#Example 3: Champions league table
url3="https://www.skysports.com/champions-league-table"
uclDataFrame=pd.read_html(url3)
uclDataFrame[0].head(8)

,Position,Team Team,Pl Played,W Won,D Drawn,L Lost,F Goals For,A Goals Against,GD Goal Difference,Pts Points
0,1,Arsenal,8,8,0,0,23,4,19,24
1,2,Bayern Munich,8,7,0,1,22,8,14,21
2,3,Liverpool,8,6,0,2,20,8,12,18
3,4,Tottenham Hotspur,8,5,2,1,17,7,10,17
4,5,Barcelona,8,5,1,2,22,14,8,16
5,6,Chelsea,8,5,1,2,17,10,7,16
6,7,Sporting Lisbon,8,5,1,2,17,11,6,16
7,8,Manchester City,8,5,1,2,15,9,6,16

**Excel**

In [65]:
gitUrl="https://github.com/Jaimepelembe/Data_analyst_bootcamp_from_basics_to_advanced/blob/main/S4_Data_Analysis/excelData.xlsx"
dataFrame4=pd.read_excel(gitUrl)
dataFrame4

ValueError: Excel file format cannot be determined, you must specify an engine manually.