# Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

In [2]:
import pandas as pd
import numpy as np

In [ ]:
#1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.
import random

def dictionaryList(listKeys,rows):
    """Create a dictionary of a list
        Args:
            listKeys: List of the dictionary keys
            rows: Number of rows

        Returns:
        A dictionary
    """

    try:
        dictionary={}

        for key in listKeys:
            dictionary[key]=[]
            for row in range(rows):
                dictionary[key].append(random.randint(0,20))

    except TypeError as ex:
        print(ex)

    except KeyError as ex:
        print(ex)


    else:
        return dictionary



index=['a','b', "c","d"]
rows=6
data=dictionaryList(index,rows)
data

dataFrame=pd.DataFrame(data)
dataFrame.head()

    a   b   c   d
0  16   1  20   8
1  13   7  13   6
2   9  12  12  15
3   5   9  12   1
4   9  16  18  14

In [ ]:
#Set the index to be the first column.

dataFrame.set_index("a", inplace=True)
dataFrame.head()

     b   c   d
a
19  11  12   6
4   17  13  20
15   8   7   5
10  19   7   8
14  15  20  19

In [ ]:
#2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.
dataFrame2=pd.DataFrame(np.random.randint(0,20, size=(3,3)) ,columns=['A','B',"C"], index=["X","Y","Z"] )
print(dataFrame2)

#Access the element at row "Y" and column "B"
print("")
element=dataFrame2.at["Y","B"]
print(element)

    A   B   C
X  19  10   8
Y   2   4  15
Z  18   5  17

4

**Assignment 2: DataFrame Operations**

In [ ]:

#1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.
dataFrame3=pd.DataFrame(np.random.randint(0,20, size=(5,3)))
print(dataFrame3)

print("")
dataFrame3[3]=dataFrame3[0]*dataFrame3[1]
print(dataFrame3)

    0   1   2
0   3   4  14
1   3  15  18
2  15  17   4
3   4   9  15
4   5  13  14

    0   1   2    3
0   3   4  14   12
1   3  15  18   45
2  15  17   4  255
3   4   9  15   36
4   5  13  14   65

In [ ]:

#2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

dataFrame4=pd.DataFrame(np.random.randint(0,20, size=(4,3)))

print(dataFrame4, "\n")
rowWise=dataFrame4.sum(axis=1) #Sum the rows
columnWise=dataFrame4.sum(axis=0)# Sum the columns
print("Row-wise:")
print(rowWise, "\n")
print("Column-wise:")
print(columnWise)

    0   1   2
0  19   2   3
1  10   6  10
2   4   4   6
3  10  12   4

Row-wise:
0    24
1    26
2    14
3    26
dtype: int64

Column-wise:
0    43
1    24
2    23
dtype: int64

**Assignment 3: Data Cleaning**


2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

In [ ]:
#1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.
import math
dataFrame5=pd.DataFrame(np.random.randint(0,20, size=(5,3)))
print(dataFrame5,"\n")

#Introducting NaN values
print(dataFrame5[0][0])

dataFrame5.loc[0,0]=math.nan
dataFrame5.loc[1,2]=math.nan
dataFrame5.loc[2,2]=math.nan
print(dataFrame5[0][0])

print(dataFrame5)

    0   1   2
0  18  18  14
1   7  12  10
2  15  17  16
3  15   5   7
4   9  11  15

18
nan
      0   1     2
0   NaN  18  14.0
1   7.0  12   NaN
2  15.0  17   NaN
3  15.0   5   7.0
4   9.0  11  15.0

In [ ]:
#Cleaning the dataFrame
#Verify how many NaN we have
dataFrame5.isnull().sum()

0    1
1    0
2    2
dtype: int64

In [ ]:
#Fill the NaN values with the mean of the respective columns.
dataFrame5=dataFrame5.fillna(dataFrame5.mean(axis=0))
dataFrame5

      0   1     2
0  11.5  18  14.0
1   7.0  12  12.0
2  15.0  17  12.0
3  15.0   5   7.0
4   9.0  11  15.0


**Assignment 4: Data Aggregation**

In [8]:
#1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers.
#Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.
dataFrame6=pd.DataFrame(np.random.choice(["A","B","C"],size=18),columns=["Category"])
dataFrame6["Value"]=pd.DataFrame(np.random.randint(10,50, size=(18,1)))

dataFrame6

   Category  Value
0         B     48
1         B     44
2         C     15
3         C     14
4         A     14
5         B     18
6         B     14
7         B     37
8         A     45
9         B     32
10        B     36
11        B     23
12        B     35
13        C     49
14        C     46
15        B     13
16        A     27
17        A     49

In [12]:
#Compute the sum and mean of each column
groupedData=dataFrame6.groupby("Category")["Value"].agg(["sum","mean"])
groupedData

          sum   mean
Category
A         135  33.75
B         300  30.00
C         124  31.00

In [37]:
#2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data.
#Group the DataFrame by 'Category' and compute the total sales for each category.
dataFrame7=pd.DataFrame(np.random.choice(["Kiwi","Casava","Potato","Watermelon","Sugar","Orange"],size=(18,1)) ,columns=["Product"])
dataFrame7["Category"]=pd.DataFrame(np.random.choice(["A","B","C"],size=(18,1)))
dataFrame7["Sales"]=pd.DataFrame(np.random.randint(2,10, size=(18,1)))
dataFrame7

       Product Category  Sales
0        Sugar        B      7
1       Potato        C      5
2       Orange        C      7
3        Sugar        A      8
4       Potato        A      4
5       Potato        B      5
6       Potato        B      5
7       Orange        A      4
8       Orange        A      8
9       Casava        A      6
10        Kiwi        B      9
11      Orange        A      3
12      Casava        C      4
13  Watermelon        B      3
14      Orange        A      8
15        Kiwi        C      2
16      Orange        A      7
17  Watermelon        C      9

In [38]:
#Group the DataFrame by 'Category' and compute the total sales for each category.
groupedDataCategory=dataFrame7.groupby("Category")["Sales"].sum()
groupedDataCategory

Category
A    48
B    29
C    27
Name: Sales, dtype: int64






### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.
2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.
2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.
2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.
2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.
2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.
2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.