####Basic data types
Integers
Foating-point numbers
Strings
Booleans

In [2]:
#Integers
days=7
type(days)

int

In [4]:
#Float
height=1.78
type(height)

float

In [ ]:
#String
name="Thanos"
type(name)

str

In [ ]:
#Boolean
isValid=True
type(isValid)
var= bool()
var

False

Common errors

In [ ]:
#Concationate different types of data
result="1"+1

TypeError: can only concatenate str (not "int") to str

###Advanced data types
Lists
Tuples
Sets
Dictionaries