Sets

Introduction
Sets are a built-in data type in Python used to store collections of unique items. They are unordered, meaning that the elements do not follow a specific order.
Sets are useful for memebership tests, eliminating duplicate entries, and performing mathematical set operations like union, intersection, difference, and symmetric difference.

In [16]:
# Creating a set
mySet={1,2,3,4,5}
print(mySet)
print(type(mySet))

#Empty set
emptySet={}
print(emptySet)

#Convert a list into a set
listNumbers=[1,2,3,4,1,2,3,4]
setNumbers=set(listNumbers)
print(setNumbers)

{1, 2, 3, 4, 5}
<class 'set'>
{}
{1, 2, 3, 4}

Basics sets operation

In [ ]:
# Adding and removing 

#Adding
print(mySet)
mySet.add(6)
mySet.add(7)
print(mySet)

#Removing
mySet.remove(6)
mySet.remove(4)
print(mySet)

#Discarding
mySet.discard(6)
print(mySet)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 5, 7}
{1, 2, 3, 5, 7}

In [18]:
#Pop method
removedElement=mySet.pop()
print(removedElement)
print(mySet)

1
{2, 3, 5, 7}

In [21]:
#Clear()
#Clear all the elements
mySet.clear()
print(mySet)

set()

Set membership test
Verify if an element is a member of the set or not.

In [22]:
setAges={18,19,20,22,24}
print(19 in setAges) 
print(25 in setAges)

True
False

Mathematical operation

In [26]:
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

#Union
unionSet=set1.union(set2)
print("Union set: ",unionSet)


#Intersection
intersectionSet=set1.intersection(set2)
print("Intersection set: ",intersectionSet)


#Intersection with update
set1.intersection_update(set2) #Update the value of the Set1 with the intersection between set1 and set2
print("Set 1 updated: ",set1)

Union set:  {1, 2, 3, 4, 5, 6, 7, 8, 9}
Intersection set:  {4, 5, 6}
Set 1 updated:  {4, 5, 6}

In [ ]:
#Difference
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}
differenceSet=set1.difference(set2)
print(differenceSet)

#Difference with update
#set1.difference_update(set2)

{1, 2, 3}

In [ ]:
#Symmetric difference
#Removes the symmetric elements
symmetricDifference=set1.symmetric_difference(set2)
print(symmetricDifference)

{1, 2, 3, 7, 8, 9}

Set Methods

In [31]:
set1={1,2,3,4,5}
set2={3,4,5}


# Is subset
print(set1.issubset(set2))


# Is superset
print(set1.issuperset(set2))

False
True

In [32]:
#Examples

#Removes the duplicates from a list
duplicatedList=[1,2,2,3,4,4,5]
simpleList=set(duplicatedList)
print(simpleList)

{1, 2, 3, 4, 5}

In [38]:
# Counting unique words in text
text="In this tutorial we are discussing about sets. We hope that you will have a good experience"
words=text.split()
print(words)

#Convert list of words to set to get unique words
uniqueWords=set(words)
print("Unique words: ", uniqueWords)
print(len(uniqueWords))

['In', 'this', 'tutorial', 'we', 'are', 'discussing', 'about', 'sets.', 'We', 'hope', 'that', 'you', 'will', 'have', 'a', 'good', 'experience']
Unique words:  {'a', 'In', 'about', 'you', 'are', 'discussing', 'experience', 'this', 'will', 'sets.', 'that', 'hope', 'We', 'we', 'tutorial', 'good', 'have'}
17