Introduction to lists

Lists are ordered, mutable collections of items.
They can contain items of different data types.

In [20]:
listFruits=["Apple", "Orange","Banana"]
print(listFruits)

['Apple', 'Orange', 'Banana']

In [10]:
#List of diferent data types
listDataTypes=["Apple", ["Person"],True,0,2,0.55]
print("Items of the list: ")
for item in listDataTypes:
    print(item)

Items of the list:
Apple
['Person']
True
0
2
0.55

In [11]:
print(listDataTypes[1:])
print(listDataTypes[1:4])
print(listDataTypes[-1:])

[['Person'], True, 0, 2, 0.55]
[['Person'], True, 0]
[0.55]

In [15]:
# Modifying the list elements
listDataTypes[1]="Watermelon"
print(listDataTypes) 

listDataTypes.append("Strawberry")
print(listDataTypes)

['Apple', 'Watermelon', True, 0, 2, 0.55, 'Strawberry']
['Apple', 'Watermelon', True, 0, 2, 0.55, 'Strawberry', 'Strawberry']

#List methods

In [ ]:

# 1. Append
listDataTypes.append("Kiwi")
listDataTypes.append("Guava")
print(listDataTypes)

['Apple', 'Watermelon', True, 0, 2, 0.55, 'Strawberry', 'Strawberry', 'Kiwi', 'Guava', 'Kiwi', 'Guava', 'Kiwi', 'Guava', 'Kiwi', 'Guava']

In [ ]:
# 2. Insert
# Inserts a element in a certain index

listDataTypes.insert(1,"Cherry")
print(listDataTypes)

['Apple', 'Cherry', 'Watermelon', True, 0, 2, 0.55, 'Strawberry', 'Strawberry', 'Kiwi', 'Guava', 'Kiwi', 'Guava', 'Kiwi', 'Guava', 'Kiwi', 'Guava']

In [ ]:
# 3. Remove
# Removes the first occurance of an item of the list
print(listDataTypes)
listDataTypes.remove("Strawberry")
print(listDataTypes)

['Apple', 'Cherry', 'Watermelon', True, 0, 2, 0.55, 'Strawberry', 'Strawberry', 'Kiwi', 'Guava', 'Kiwi', 'Guava', 'Kiwi', 'Guava', 'Kiwi', 'Guava']
['Apple', 'Cherry', 'Watermelon', True, 0, 2, 0.55, 'Strawberry', 'Kiwi', 'Guava', 'Kiwi', 'Guava', 'Kiwi', 'Guava', 'Kiwi', 'Guava']

In [ ]:
#4. Pop
# Remove and return the last item
print(listDataTypes.pop())
print(listDataTypes)

Kiwi
['Apple', 'Cherry', 'Watermelon', True, 0, 2, 0.55, 'Strawberry', 'Kiwi', 'Guava', 'Kiwi', 'Guava']

In [ ]:
# 5. Index
# Return the index of the first occurance of an element

index=listDataTypes.index("Kiwi") 
print(index)

8

In [ ]:
#6. Count
#Counts the number of occurances of an element
occurances=listDataTypes.count("Kiwi")
print(occurances)

2

In [ ]:
# 7. Sort
# Sort the list in a certain order
listNames=["Ze", "James", "Dalila","Shain", "VW","Mercedes"]
listNames.sort()
print(listNames)

['Dalila', 'James', 'Mercedes', 'Shain', 'VW', 'Ze']

In [ ]:
#8. Reverse
#Reverse the list of elements
listNames.reverse()
print(listNames)

['Ze', 'VW', 'Shain', 'Mercedes', 'James', 'Dalila']

In [ ]:
# 9. Clear
# Remove all items from the list
listNames.clear()
print(listNames)

[]

Slicing list

In [ ]:
listNumbers=[1,2,3,4,5,6,7,8,9,10]
print(listNumbers[2:5])
print(listNumbers[5:])
print(listNumbers[:5])

In [3]:
listNumbers=[1,2,3,4,5,6,7,8,9,10]
print(listNumbers[2:5])
print(listNumbers[5:])
print(listNumbers[:5])
print(listNumbers[::2])
print(listNumbers[::-1])

[3, 4, 5]
[6, 7, 8, 9, 10]
[1, 2, 3, 4, 5]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
#Double colon [::]
#Mean all of them
print(listNumbers[::])

#You can give a step 

print(listNumbers[::2]) # Has a step of 2.
print(listNumbers[::3]) # Has a step of 3.
print(listNumbers[::5]) # Has a step of 5.

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[1, 4, 7, 10]
[1, 6]

In [ ]:
# Iterating over a list
for number in listNumbers:
    print(number)

1
2
3
4
5
6
7
8
9
10

In [11]:
# Iterating with index
for index, number in enumerate(listNumbers):
    print(f" {index} : {number}")

 0 : 1
 1 : 2
 2 : 3
 3 : 4
 4 : 5
 5 : 6
 6 : 7
 7 : 8
 8 : 9
 9 : 10

In [ ]:
#List comprehension

#Regular form to do:
list=[]
for i in range(10):
    list.append(i**2)

print(list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
## Estrutura basica
# [nova_expressao for item in iterável]

square=[i**2 for i in range(10)]
print(square)

# Estrutura com condicao logica
#[expression for item in iterable if condition]
oddSquare=[i**2 for i in range(10) if i%2==0]
print(oddSquare)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 4, 16, 36, 64]

In [17]:
## Nested list comprehension
# [nova_expressao for item1 in iterável1 for item2 in itarável2]
list1= [1,2,3,4]
list2=['a','b','c','d']

pairs=[ [i,j] for i in list1 for j in list2]
print(pairs)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]

In [18]:
#List comprehension with function calls
words=["hello","world","python","list","comprehension","29 bags"]
lenghts= [ len(word) for word in words]
print(lenghts)

[5, 5, 6, 4, 13, 7]